---
pageable: true
per_page: 30
---

- blog.tags.sort.each do |tag, articles|
  %h2.tag
    = tag
  %ul.articles-list
    - articles.sort_by(&:title).each do |article|
      %li
        %h3.article-title
          = link_to article.title, article


